<div class="row">
    <!-- box at horizontally center-->
    <div class="col-lg-11 col-xl-9 mx-auto">

        <div class="card">

            <div class="card-header">
                <h1>Wizard Assignment</h1>
            </div>

            <div class="card-body">
                Welcome to the solution of assignment
            </div>

            <div class="card-footer text-right">
                <a class="btn btn-primary" [routerLink]=" [ '/step-1' ] ">Start Wizard</a>
            </div>

        </div>

    </div>
</div>
